{% extends 'base.html' %}
{% block title %}Me My Made Products editor{% endblock %}

{% block content %}
    {{ is_user }}
    <div class="container-fluid fixed-top">
        <div class="row p-2 text-center">
            <div class="col-3">
                <button type="button" onclick="window.location.href='{{ url_for('dashboard.add_product') }}'"
                        class="btn btn-outline-success bg-gradient">Add Item
                </button>
            </div>
            <div class="col-3">
                <button type="button" onclick="window.location.href='{{ url_for('dashboard.upload') }}'"
                        class="btn btn-outline-primary bg-gradient">Upload
                </button>
            </div>
            <div class="col-3">
                <button type="button" onclick="window.location.href='{{ url_for('dashboard.order_show_up') }}'"
                        class="btn btn-info bg-gradient">Order
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary bg-gradient">Report</button>
            </div>

        </div>
    </div>
    <div class="container-fluid d-flex flex-column mt-5">
        <div class="d-flex flex-row catagories my-2 py-2 text-center align-items-center">
            <div class="col-2 px-2 h6">
            </div>
            <div class="col-2 px-2 h6">
                รายการ
            </div>
            <div class="col-1 px-2 h6">
                S.P
            </div>
            <div class="col-1 h6">
                P.P
            </div>
            <div class="col-2 h5">
                Stock
            </div>
            <div class="col-1">
                New
            </div>
            <div class="col-1">
                Rec
            </div>
        </div>
        {% for item in all_product %}
            <div class="d-flex flex-row flex-wrap item-background m-1 text-center align-items-center p-1">
                <div class="col-2 align-items-center">
                    <div class="d-flex flex-column container p-1 align-items-center justify-content-center">
                        <div class="d-inline-flex justify-content-center">
                            <a href="{{ url_for('dashboard.add_product') }}"><img class="img-dashboard"
                                                                                  src="/static/upload/{{ item.images_url }}"
                                                                                  alt=""
                                                                                  width="90" height="90"></a>
                        </div>
                        <div class="p-1">
                            <button type="button" class="btn btn-dark text-light text-overlay"
                                    onclick="window.location.href='{{ url_for('dashboard.select_image', id=item.product_id) }}'">
                                <strong>Change</strong>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-2 px-2">
                    {{ item.product_name }}
                </div>
                <div class="col-1 px-2">
                    {{ item.set_price }}
                </div>
                <div class="col-1">
                    {{ item.selling_price }}
                </div>
                <div class="col-2 h3 px-2 align-self-end">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center py-2">
                            {{ item.amount }}
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button"
                                    onclick="window.location.href='{{ url_for('dashboard.edit_amount', id=item.product_id) }}'"
                                    class="btn btn-warning bg-gradient text-overlay">Change
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    {% if item.new_product == True %}<img src="/static/images/correct.png" width="15" height="15">
                    {% else %}<img src="/static/images/wrong.png" width="15" height="15">
                    {% endif %}
                </div>
                <div class="col-1">
                    {% if item.recommended == True %}<img src="/static/images/correct.png" width="15" height="15">
                    {% else %}<img src="/static/images/wrong.png" width="15" height="15">
                    {% endif %}
                </div>
                <div class="col-1">
                    <button type="button"
                            onclick="window.location.href='{{ url_for('dashboard.update_product', id=item.product_id) }}'"
                            class="btn btn-secondary p-1 text-overlay">Edit
                    </button>
                </div>
                <div class="col-1">
                    <button type="button"
                            onclick="window.location.href='{{ url_for('dashboard.delete', id=item.product_id) }}'"
                            class="btn btn-danger p-1 text-overlay">Delete
                    </button>
                </div>
            </div>
        {% endfor %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p class="bg-info bg-gradient text-center p-2">{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row p-2 text-center">
            <div class="col-3">
                <button type="button" onclick="window.location.href='{{ url_for('dashboard.add_product') }}'"
                        class="btn btn-outline-success bg-gradient">Add Item
                </button>
            </div>
            <div class="col-3">
                <button type="button" onclick="window.location.href='{{ url_for('dashboard.upload') }}'"
                        class="btn btn-outline-primary bg-gradient">Upload
                </button>
            </div>
            <div class="col-3">
                <button type="button" onclick="window.location.href='{{ url_for('dashboard.order_show_up') }}'"
                        class="btn btn-info bg-gradient">Order
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary bg-gradient">Report</button>
            </div>

        </div>
    </div>

{% endblock %}